body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-size: 30px;
}
.search-form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.search-input {
  padding-top: 30px;
  width: 200px;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  color: rgb(77, 76, 76);
}
.search-button {
  height: 40px;
  width: 200px;
  cursor: pointer;
  font-size: 20px;
}
.weather.is-hidden {
  display: none;

}
.weather {
  margin-left: 20px;
  margin-right: 20px;
  color: royalblue;
}
