html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.stats {
  display: flex;
}
.body {
  background-color: whitesmoke;
}
.gallery {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.picture {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
  
}
.stats-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 30px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  
}
.load_more {
  background-color: teal;
  width: 150px;
  height: 30px;
  outline: none;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  height: 40px;
  border-radius: 4px;
  font-size: 20px;
}
.go_up {
  background-color: teal;
  width: 150px;
  height: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  height: 40px;
  border-radius: 4px;
}
.unvisible {
  display: none;
}
.stats-item {
  display: flex;
  padding-left: 10px;
  margin-right: 10px;
  align-items: center;
  height: 50px;
  
}
.search-form{
  
  padding-top: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.input {
  background: gold;
  height: 30px;
  border: none;
  padding: 5px;
  outline: none;
  color: blue;
  font-weight: bold;
  font-size: 15px;
  border-radius: 3px;
  text-transform:uppercase;
}
.material-icons{
  color: teal;
  transition:all .2s;
}
.material-icons:hover{
  color: lightcoral;
}
.pict_item {
  box-shadow: 3px 2px 20px -5px rgba(0,0,0,0.35);
  margin-bottom: 10px;
}
.material-icons .icon{
  color: black;
}